.delete{

    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    border-color: white;
    color: red;
}
.edit{

    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    border-color: white;
    color: black;
}

.save{
     width: 50px;
     height: 30px;
     background-color: green;
     color: white;
     border-color: green;
     border-radius: 7px;
}

.cancel{

    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 5px;
    border-color: red;
    color: white;
    margin-left: 4Px;
}
/* .markThat{
     
    background-color: yellow;
} */